USE [master]
GO
/****** Object:  Database [ArabaDB]    Script Date: 22.12.2023 13:27:36 ******/
CREATE DATABASE [ArabaDB]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'ArabaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ArabaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
-- LOG ON 
--( NAME = N'ArabaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ArabaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
-- WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArabaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArabaDB]
GO
/****** Object:  Table [dbo].[Arabalar]    Script Date: 22.12.2023 13:27:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arabalar](
	[ID] [int] NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Arabalar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kisiler]    Script Date: 22.12.2023 13:27:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kisiler](
	[ID] [int] NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[ArabaID] [int] NULL,
 CONSTRAINT [PK_Kisiler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Arabalar] ([ID], [Model]) VALUES (10, N'Toyota')
INSERT [dbo].[Arabalar] ([ID], [Model]) VALUES (11, N'Fiat')
INSERT [dbo].[Arabalar] ([ID], [Model]) VALUES (12, N'Renault')
GO
INSERT [dbo].[Kisiler] ([ID], [Ad], [ArabaID]) VALUES (1, N'Deniz', 10)
INSERT [dbo].[Kisiler] ([ID], [Ad], [ArabaID]) VALUES (2, N'Ali', 11)
INSERT [dbo].[Kisiler] ([ID], [Ad], [ArabaID]) VALUES (3, N'Mehmet', 11)
GO
ALTER TABLE [dbo].[Kisiler]  WITH CHECK ADD  CONSTRAINT [FK_Kisiler_Arabalar] FOREIGN KEY([ArabaID])
REFERENCES [dbo].[Arabalar] ([ID])
GO
ALTER TABLE [dbo].[Kisiler] CHECK CONSTRAINT [FK_Kisiler_Arabalar]
GO
USE [master]
GO
